@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="container bboffer">
    @*<img src="~/images/FD.PNG" />*@
</section>
<section class="container bboffer">
    <h2>What is a Fixed Deposit?</h2>
    <p>
        Fixed deposit is a financial instrument in which there is a fixed rate of interest for a fixed period of time. Tenure of deposit can range from as little as 7 days and it can stretch out till 10 years (20 years in some banks).

        Here, investors are offered with a higher rate of interest and thus the returns are ascended as compared to keeping one’s money in a savings account.
    </p>

</section>
<section class="container">
    <div class="card" style="background-color:#d8bfd8;">
        <div class="card-header">
            INVEST IN CDB FD & GET 12% INTEREST RATE AND A CREDIT CARD
        </div>
        <div class="card-body">
            <ol>
                <li>Industry-best returns</li>
                <li>Complete Digital Process</li>
            </ol>
            @*<a href="#" class="btn btn-primary">Apply for FD</a>*@
        </div>
    </div>
</section>
<section class="container bboffer">
    <h2>WHO SHOULD INVEST IN FIXED DEPOSITS</h2>
    <ol>
        <li>If you’re someone who does not want to take market-related risks and is okay with the decent returns, FD will work well for you.</li>
        <li>If you have taxable income and are looking for a tax-saving safe investment option, you should consider FD. It will allow you up to Rs. 1.5 lakh of Income Tax Deductions u/s 80C of the IT Act.</li>
        <li>If you’re a retired person who wants a regular income, invest your savings in different FD schemes across various banks and go for the non-cumulative option. In this option, you will get the regular interest that will act as your income post-retirement.</li>
        <li>If you’re a housemaker who has a certain amount to invest, it would be good for you to analyse the FD option. This is because fixed deposits do not carry any significant risk.</li>
    </ol>
</section>
