@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="bboffer">
    <h2>Get Rs.150 Cashback On Big Basket</h2>
    <p style="color:#800080;">Get Rs.150 cashback on grocery shopping on Big Basket website.</p>
    <p><bold>Offer valid on: </bold>Big Basket & BB Daily</p>
    <p><bold>Offer validity: </bold>July 1, 2021 to Sep 30, 2021</p>
    <p><bold>Steps to avail of the offer on Big Basket</bold></p>
    <ul>
        <li>Log on to bigbasket.com (Website/Mobile site/App)</li>
        <li>Add products of your choice to cart and checkout</li>
        <li>Make the payment through ICICI Bank Net Banking</li>
    </ul>
    <p><bold>Important points:</bold></p>
    <ul>
        <li>Rs 150 cashback on grocery shopping on a minimum transaction value of Rs.2000</li>
        <li>Cashback will be processed by BigBasket to the BB wallet of the customers.</li>
        <li>Cashback will be processed within 45 days of order delivery.</li>
        <li>Offer valid on Saturday & Sunday</li>
    </ul>
    <p>
        Terms and Conditions apply.
    </p>
</section>