@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="bboffer">
    <h2>Get 15% Discount On Food Order On Swiggy</h2>
    <p>15% discount up to INR 75/- on orders above (“MOV”) INR 400/-</p>
    <p>Offer valid from Thursday to Sunday</p>
    <p style="color:#ba55d3;">Code:CDBNB75</p>
    <p><bold>Steps to avail of the offer on Big Basket</bold></p>
    <ul>
        <li>Visit Swiggy app/website</li>
        <li>Select items of your choice and add them to the cart</li>
        <li>Apply ICICINB75 coupon code on the payment page</li>
        <li>Click on “Pay Now”</li>
        <li>Pay using CDB Net Banking payment</li>
    </ul>
    <p><bold>Offer Validity: Till 29th August, 2021</bold></p>
    <p>
        Terms and Conditions apply.
    </p>
</section>
