@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="container">
    @*<img src="~/images/RD.PNG" />*@
</section>
<section class="container bboffer">
    <h1>What is a recurring Deposit?</h1>
    <p>
        When it comes to saving money, there are several investment options that customers can choose from, depending on what they want. A majority of people typically levitate towards investment instruments that are both safe and can help generate a regular source of income. Then some intend to save money by putting away a fixed sum into an account periodically to create a larger corpus. Yes, fixed and recurring deposits continue to be the preferred investment vehicle for most traditional investors. In this article, we shall attempt to understand what is a recurring deposit.
    </p>

</section>
<section class="container">
    <div class="card" style="background-color:#d8bfd8;">
        <div class="card-header">
            INVEST IN CDB RD & GET 8% INTEREST RATE
        </div>
        <div class="card-body">
            <ol>
                <li>Industry-best returns</li>
                <li>Complete Digital Process</li>
            </ol>
            @*<a href="#" class="btn btn-primary">Apply For RD</a>*@
        </div>
    </div>
</section>
<section class="container bboffer">
    <h2>BENEFITS OF RECURRING DEPOSITS</h2>
    <ol>
        <li>RDs make it possible for investors to earn attractive FD-like returns, even on small-ticket investments..</li>
        <li>This type of deposit account develops the discipline among investors of saving money at regular intervals..</li>
        <li>RDs offer guaranteed returns, unlike other monthly investment schemes like systematic investment plans (SIPs) offered by mutual funds.</li>
        <li>Most banks offer loan facilities to customers against their RD accounts. Customers can avail as much as 95% of the amount parked in their RD as a loan, but the rate may vary from bank to bank.</li>
    </ol>
</section>
