@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="container">
    @*<img src="~/images/SIP.PNG" />*@
</section>
<section class="container">
    <h1>What is SYSTEMATIC INVESTMENT PLAN ?</h1>
    <p>
        A Systematic Investment Plan (or SIP) is an investment mode through which you can invest in mutual funds. As the term indicates, it is a systematic method of investing fixed amounts of money periodically. This can be monthly, quarterly or semi-annually etc.  When you invest steadily in this manner, it can become easier to meet your financial goals.
    </p>

</section>
<section class="container">
    <div class="card" style="background-color:#d8bfd8;">
        <div class="card-header">
            INVEST IN CDB RD & GET 8% INTEREST RATE
        </div>
        <div class="card-body">
            <ol>
                <li>Industry-best returns</li>
                <li>Complete Digital Process</li>
            </ol>
            @*<a href="#" class="btn btn-primary">Apply For SIP</a>*@
        </div>
    </div>
</section>
<section class="container">
    <h2>HOW DOES SIP WORK?</h2>
    <ol>
        <li>RDs make it possible for investors to earn attractive FD-like returns, even on small-ticket investments..</li>
        <li>This type of deposit account develops the discipline among investors of saving money at regular intervals..</li>
        <li>RDs offer guaranteed returns, unlike other monthly investment schemes like systematic investment plans (SIPs) offered by mutual funds.</li>
        <li>Most banks offer loan facilities to customers against their RD accounts. Customers can avail as much as 95% of the amount parked in their RD as a loan, but the rate may vary from bank to bank.</li>
    </ol>
</section>
